:root {
    --BG-color  : #ffe1a6;
    --Btb-color : chocolate;
    --Head-color: #fad178;
    --TxBx-color: #ffc450;
}

h1 {
    background-color: var(--BG-color);
    align-self      : center;
}


body {
    min-height      : 100%;
    box-sizing      : border-box;
    margin          : 0%;
    background-color: var(--BG-color);
    font-family     : Verdana;
    font-size       : x-large;
    direction       : rtl;

    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    background-color: var(--Btb-color);
    border-radius   : 60%;
    height          : fit-content;
}


.Container {
    display: grid;
    grid-template-areas:
        'header'
        'main';
    position       : top;
    text-align-last: center;

}


header {
    position        : sticky;
    background-color: var(--Head-color);
    grid-area       : header;
    width           : 100vw;
    direction       : ltr;
}

td {
    width: fit-content;
}

.hiddenD {
    display: none;
}

.main {
    align-content: center;
    grid-area    : main;
    height       : 100%;
}

.textBox {
    background-color: var(--TxBx-color);
    align-self      : center;
    width           : 50vw;
    position        : absolute;
    right           : 23vw;
    padding         : 2%;
    font-weight     : bolder;
    text-align      : justify;
    border-radius   : 20%;
    align-content   : center;
}

table {
    align-self: center;
    text-align: justify;
    margin    : 0 auto;
}


#MC {
    font-size: xx-large;
}

.MSH {
    position  : absolute;
    right     : 99vw;
    text-align: left;
    text-align: left;
}

.English {
    font-size: large;
    direction: ltr;
}

.hr-line {
    width : 60%;
    margin: auto;

}

/* Style the buttons that are used to open and close the faq-question body */
.faq-question {
    color        : rgb(0, 0, 0);
    border       : none;
    outline      : none;
    transition   : 0.4s;
    margin       : auto;
    padding      : 1% 4% 1% 4%;
    border-radius: 25%;
}

.faq-answer {
    margin : auto;
    padding: 1% 4% 1% 4%;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-question:hover {
    background-color: var(--Head-color);
}

/* Style the faq-question panel. Note: hidden by default */
.faq-answer {
    text-align-last: right;
    display        : none;
    overflow       : hidden;
}

.faq-question:after {
    content    : '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size  : large;
    color      : #777;
    float      : right;
    margin-left: 1%;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#mainTl {
    position: fixed;
    left    : 25vw;
}

.cards_container {
    position             : fixed;
    right                : 28vw;
    width                : 70vw;
    top                  : 20vh;
    margin-top           : 5vh;
    bottom               : 0;
    z-index              : 1;
    display              : grid;
    grid-template-columns: repeat(auto-fill, 20vw);
    row-gap              : 2vh;
    column-gap           : 2vw;
    height               : 100%;
}

.cookie_card {
    background-color: var(--TxBx-color);
    border-radius   : 25%;
    padding         : 2vw;
    align-items     : center;
    height          : fit-content;
}

.cookie_card p {
    width     : auto;
    align-self: center;
}

img {
    max-width    : 75%;
    border-radius: 25%;
    object-fit   : contain;
}

.side_nav {
    position           : sticky;
    background-color   : var(--Head-color);
    width              : 25vw;
    /* position        : fixed; */
    right              : 0;
    top                : 0;
    bottom             : 0;
    z-index            : 1;
    height             : 100%;
    bottom             : 0;

}
/*registration exist user */
#existUser {
    text-align-last: right;
    display        : none;
}
/*registration new user */
#newUser {
    text-align-last: right;
    display        : none;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: large;
    }

    .textBox {
        width: 85vw;
        right: 5vw;
    }

    .orderMain {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards_container {
        grid-column          : 2/ span 1;
        display              : grid;
        grid-template-columns: repeat(auto-fill);
    }

}

@media only screen and (max-width: 600px) {

    .shownD {
        display: none;
    }


    .hiddenD {
        display: block;
    }

    form textarea,
    form input {
        width: 70%;
    }

    .textBox {
        width: 90vw;
        right: 2vw;
    }

}